:host {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.done {
    background-color: #f2d200;
}

.not-done {
    background-color: #808080;
}

.uncommitted {
    background-color: #000000;
}
